<nav class="navbar" role="navigation">
  <div class="flex-l justify-between items-center center">
  <a href="{{ .Site.Home.RelPermalink }}" class='f3 fw2 no-underline {{ $.Param "nav_title_color" | default "mid-gray" }}'>
  <div class='flex hover-animation-nav ph3 br b--{{ $.Param "nav_title_color" | default "mid-gray" }} items-center'> 
      {{ .Site.Title}}
  </div>
  </a>
    <div class="pl5 flex items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="m0 flex items-center">
          {{ range .Site.Menus.main }}
          <!--<div class='h-100  hover-animation-nav ph3 br bl b--{{ $.Param "nav_title_color" | default "mid-gray" }}'> -->
            <a class='no-underline ' href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
          <li class='list flex {{$.Param "nav_list_color" | default "mid-gray" }} items-center f4-ns fw4 dib ph3 bl br b--{{ $.Param "nav_title_color" | default "mid-gray" }} hover-animation-nav'>
              {{ .Name }}
          </li>
          </a>
        <!--</div>-->
          {{ end }}
        </ul>
      {{ end }}
      {{/* partialCached "social-follow.html" . */}}
    </div>
  </div>
</nav>
