
{{ define "main" }}

    <main class="item pb6 h-100  bg-dark-pink" role="main">

  <div class="flex-l justify-between items-center center">
    <div class="flex">
        <div class="b--near-white ph5 bl br hover-animation-nav "> dfhghjlsvkbj; </div>
        <div class="b--near-white ph5 bl br hover-animation-nav "> dfhghjlsvkbj; </div>
    </div>

      <div class="flex">
        <div class="b--near-white ph5 bl br hover-animation-nav "> dfhghjlsvkbj; </div>
        <div class="b--near-white ph5 bl br hover-animation-nav "> dfhghjlsvkbj; </div>
    </div>

</div>
</main>

{{ end }}
